<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS</title>
</head>
<body>
    <h1>OS</h1>
    <p> <%=cpus[0].model%> </p>
    <p> <%=cpus[0].speed%> </p>
    <p> <%=sistema%> </p>
    <p> <%=name%> </p>
</body>
</body>
</html>